html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h2 {
    font-size: 36px;
}

.wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-bottom: 10px;
}
.main-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***menu**/
.main-menu {

}
.main-menu__items {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-bottom: 0;
    flex-wrap: wrap;
}
.main-menu__item {
    margin-left: 30px;
}
.main-menu__link {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.main-menu__link:hover {
    color: #E21515;
}

.main-logo {
    text-align: center;
    max-width: 400px;
}
.main-logo__image {
    width: 100%;
    height: auto;
}

main {
    flex: 1 0 auto;
    padding-bottom: 95px;
    padding-top: 50px;
    background: #FFDB70;
}


footer {
    flex: 0 0 auto;
    background: #FCFFD3;
}

.main-footer__content {
    padding-top: 42px;
    padding-bottom: 53px;
    font-size: 24px;
}
.main-footer__content p {
    margin: 0;
}



